/*
 * Globals
 */


/* Links */

a,
a:focus,
a:hover {
    color: #fff;
}


/* Custom default button */

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
    color: #333;
    text-shadow: none;
    /* Prevent inheritance from `body` */
}


/*
 * Base structure
 */

html,
body {
    height: 100%;
    background-color: #333;
    background-image: url(assets/tkLOe7nnQ7mnMsiuijBy_hm%202.jpg);
    background-size: cover;
    background-position: center;
    font-family: "proxima-nova", sans-serif;
}

body {
    color: #fff;
    text-align: center;
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
}


/* Extra markup and styles for table-esque vertical and horizontal centering */

.site-wrapper {
    display: table;
    width: 100%;
    height: 100%;
    /* For at least Firefox */
    min-height: 100%;
    -webkit-box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

.site-wrapper-inner {
    display: table-cell;
    vertical-align: top;
}

.cover-container {
    margin-right: auto;
    margin-left: auto;
}


/* Padding for spacing */

.inner {
    padding: 2rem;
}


/*
 * Cover
 */

.cover {
    padding: 2rem;
    background-color:rgba(248,248,248,1);
    box-shadow: 2px 2px 5px rgba(0,0,0,.75);
    border-radius: 5px;
}

.btn-lg {
    padding: .45rem 2.25rem;
    font-weight: 300;
    font-size: 18px;
    border-radius: 9999px;
    background-color: #3FA9F5;
    color: #fff;
    border: none;
}

.sub-button-div {
    margin-top: 30px;
}

.lead,
label {
    color: #333;
    text-shadow: none;
}

.lead.lead-message{
    color: #888888;
    padding-top:5px;
    padding-bottom: 10px;
    font-size: 24px;
    
}

#mc_embed_signup label{ 
margin-top: 15px;
    font-weight: 300 !important;
}

.cover-heading-img {
    width: 400px;
}

#mc_embed_signup_scroll {
    margin-top: -20px;
}

#mc_embed_signup {
    clear: left;
    width: 100%;
}

#mc_embed_signup input.email-custom {
  padding: 10px;
    border: 0px;
    background-color: rgba(255,255,255,1);
  border-bottom: solid 2px #c9c9c9;
  transition: border 0.3s;
min-width: 300px;
}
#mc_embed_signup input.email-custom:focus,
#mc_embed_signup input.email-custom.focus {
  border-bottom: solid 2px #3FA9F5;
    outline: none;
}


/*
 * Affix and center
 */

@media (min-width: 40em) {
    /* Pull out the header and footer */
    .masthead {
        position: fixed;
        top: 0;
    }
    .mastfoot {
        position: fixed;
        bottom: 0;
    }
    /* Start the vertical centering */
    .site-wrapper-inner {
        vertical-align: middle;
    }
    /* Handle the widths */
    .masthead,
    .mastfoot,
    .cover-container {
        width: 100%;
        /* Must be percentage or pixels for horizontal alignment */
    }
}

@media (min-width: 62em) {
    .masthead,
    .mastfoot,
    .cover-container {
        width: 42rem;
    }
}